# Bonus from 8.13 instructions

In [1]:
import pandas as pd

In [3]:
zips = pd.Series({'Boston': '02215', 'Miami': '3310'})

In [4]:
zips

Boston    02215
Miami      3310
dtype: object

In [5]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [ ]:
# Alex Ledgerwood

In [6]:
cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])

In [7]:
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [13]:
cities.str.contains(r' [A-Z]{2} ')

0    True
1    True
dtype: bool

In [14]:
cities.str.match(r' [A-Z]{2} ')

0    False
1    False
dtype: bool

In [ ]:
# Alex Ledgerwood

In [16]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [26]:
import re

In [40]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [41]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [42]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [ ]:
# Alex Ledgerwood